In [5]:
 n=int(input())
for i in range(1,20):
    if i==n:
        print(i,"lies in the given numbers")
        break
else:
    print("doesnot lies")

24
doesnot lies

In [9]:
n=int(input())
flag=0
for i in range(30,50):
    if n==i:
        flag=1
if flag==1:
    print(n,"exits")
else:
    print(n,"doesn't exits")

35
35 exits

In [17]:
n=int(input())
for i in range(1,n+1):
    if n%i==0:
        print(i)

56
1
2
4
7
8
14
28
56

## Day objectives

### COMMENTS

In [19]:
'hii'

'hii'

In [20]:
"i don't know"

"i don't know"

In [22]:
""" hii
  hello
   good morning"""

' hii\n  hello\n   good morning'

In [23]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [24]:
help([].append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [26]:
l=[1,2,3]
l.append(4)
print(l)

[1, 2, 3, 4]

In [27]:
int.__add__(10,20)

30

In [28]:
l?

In [ ]:
def function(): #func def
    print("hi") #sys def
function() #func calling #user defined

## user defined functions

 **based on type of arguement passing**
  * **1.required arguement functions**
  * **2.keyword arguement functions**
  * **3.default arguement functions**
  * **4.variable length arguement functions**

### 1.Required arguement functions

In [29]:
def add(a1,a2):
    print(a1+a2)
add(10,20)

# invalid
def add(a1,a2):
    print(a1+a2)
add()

# invalid
def add(a1,a2):
    print(a1+a2)
add(10,a1=20)

30

## Keyword arguement

In [30]:
def add(a1=10,a2=20):
    print(a1+a2)
add()

30

In [31]:
def add(a3,a1=10,a2=20):
    print(a1+a2+a3)
add(30)

60

## Default arguements

In [32]:
def add(a1=2,a2=3):
    print(a1+a2) #the default no's are overidden by given no's
add(10,30)

40

## Variable length arguements

In [34]:
def add(a,b,c,d,e,f):      
    print(a+b)          # the no's given are equal to the no of variables
add(10,20,30,40,50,60)   # the length the values and variables have to be same

30

In [38]:
def add(*args):
    sum=0
    print(*args)
    for i in args:
        sum+=i
        print(sum)
add(10,20,30,40,50,60,70)

10 20 30 40 50 60 70
10
30
60
100
150
210
280

In [52]:
def isPrime(v1):
    c=0
    for i in range(1,v1+1):
        if v1%i==0:
            print(i)
            c+=1
    print("no.of factors of given number",c)
    if c==2:
        print("prime")
    else:
        print("not a prime")
isPrime(49)

1
7
49
no.of factors of given number 3
not a prime

In [64]:
def Prime(*args):
    print(args)
    for val in args:
        c=0
        for i in range(1,val+1):
            if val%i==0:
                c+=1
        if c  ==  2:
            print(val,"prime")
        else:
            print(val,"not a prime")
Prime(1,2,32,43,5,6)

(1, 2, 32, 43, 5, 6)
1 not a prime
2 prime
32 not a prime
43 prime
5 prime
6 not a prime

## Regular expressions

In [ ]:
# it's a way of cheking data as you required
# either it is valid or not
# in this we have 3 expressions
# 1.search()
#2.match()
#3.findall()

### search()

In [ ]:
import re

In [ ]:
# syntax
# re.search(str_pattern,data)

In [69]:
import re
name="chandini"
re.search("i",name)

### match()

In [71]:
# syntax
# re.match(str_pattern,data)
name="chandini"
re.match("c",name)

### findall()

In [74]:
# syntax
# re.findall(str_pattern,data)
name="chandini"
re.findall("i",name)

['i', 'i']

# Special characters(. , ^ , $ , {  } , [  ])

In [75]:
name="123456fdscd"
re.search("....",name)

In [81]:
data=['pavani','ramu','hema','chandu']
for i in data:
    if re.search("......",i):
        print(i)

pavani
chandu

In [82]:
name="diet"
re.search('^',name)

In [83]:
name="diet"
re.search('$',name)

In [85]:
data=["pavani","ramu","kumar","sri"]
for i in data:
    if re.search("^[a-z]{4}$",i):
        print(i)

ramu

In [88]:
data="hema1234"
re.search("^[a-z]{4}[0-9]{3}",data)

# Tuples

* *tuples are immutable iterators*
* *collection of different data elements*
* *we can't modify,update,change,insert*
* *can only count and find the index of element*

In [90]:
t=(1,2,3)
type(t)

tuple

In [94]:
t.index(3)

2

In [98]:
tt=('rear','ent',1,2,(3,4))
type(tt)

tuple

In [99]:
print(tt)

('rear', 'ent', 1, 2, (3, 4))

# Sets

* *collection of unique elements*

In [101]:
s={1,2,3,4,5,4,6}
s

{1, 2, 3, 4, 5, 6}

In [102]:
p={4,5,6,7,3}
p

{3, 4, 5, 6, 7}

In [103]:
s&p

{3, 4, 5, 6}

In [107]:
s|p

{1, 2, 3, 4, 5, 6, 7}

In [108]:
s.intersection(p)

{3, 4, 5, 6}

In [109]:
s.union(p)

{1, 2, 3, 4, 5, 6, 7}

In [110]:
s-p

{1, 2}

In [111]:
p-s

{7}

In [112]:
s

{1, 2, 3, 4, 5, 6}

# Dictionaries

* collection of keys and values

In [113]:
d={}
type(d)

dict

In [115]:
s={}
type(s)

dict

In [117]:
d={"siri":23,"ramu":25,"sita":26,"divya":28}
d

{'siri': 23, 'ramu': 25, 'sita': 26, 'divya': 28}

In [119]:
d.keys()

dict_keys(['siri', 'ramu', 'sita', 'divya'])

In [120]:
d.values()

dict_values([23, 25, 26, 28])

In [122]:
d["siri"]=30
d

{'siri': 30, 'ramu': 25, 'sita': 26, 'divya': 28}

In [123]:
d.clear()

In [124]:
d

{}

In [125]:
len(d)

0

In [127]:
d={"siri":23,"ramu":25,"sita":26,"divya":28}
d.items()

dict_items([('siri', 23), ('ramu', 25), ('sita', 26), ('divya', 28)])

In [128]:
for key,val in d.items():
    if val==26:
        print(key)

sita

In [143]:
# create a dict for 5 members and find topper of the class
t={"chandu":0,"hema":50,"sravan":45,"sai":60,"sowmy":30}
t

{'chandu': 0, 'hema': 50, 'sravan': 45, 'sai': 60, 'sowmy': 30}

In [142]:
temp=0
for key,val in t.items():
    if val==max(t.values()):
        print(key)

sai

## modules

In [ ]:
import re

In [147]:
import math
math.pi

3.141592653589793

In [148]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [149]:
22/7

3.142857142857143

In [152]:
import random
random.random()

0.9038381019147268

In [155]:
random.randint(1,10)

4

# Lists

* collections of elements
* list=[ ]
* list is mutable

In [170]:
l=[1,2,3,4,5,6]

In [157]:
type(l)

list

In [158]:
even=[]
odd=[]
for num in l:
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print(even)
print(odd)

[2, 4, 6]
[1, 3, 5]

In [6]:
x=[7,8,9]
l.append(x)

NameError: name 'l' is not defined

In [172]:
l

[1, 2, 3, 4, 5, 6, [7, 8, 9]]

In [173]:
l.extend(x)

In [174]:
l

[1, 2, 3, 4, 5, 6, [7, 8, 9], 7, 8, 9]

In [175]:
l.pop(4)

5

In [176]:
l.reverse()

In [177]:
l

[9, 8, 7, [7, 8, 9], 6, 4, 3, 2, 1]

In [179]:
x=[1,2,3,4,5,5,4,6,5,5,5,6,7,8]
uniq=[]
d={}
for val in x:
    if val not in uniq:
        uniq.append(val)
for i in uniq:
    d[i]=x.count(i)
d

{1: 1, 2: 1, 3: 1, 4: 2, 5: 5, 6: 2, 7: 1, 8: 1}